<!DOCTYPE html>
<html ng-app="module2App">
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Shopping List</title>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <div ng-controller="toBuyController as toBuy" class="container">
            <h1>Shopping List Check Off</h1>
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <!-- Begin: To Buy List -->
            <h2>To Buy:</h2>
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <ul>
                <li ng-repeat="items in toBuy.getTobuyList">{{ items.name }} - {{items.quantity}} <button ng-click="toBuy.addShoptoSold($index)" class="btn btn-default"> <span></span> Buy</button></li>
            </ul>
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <div id="everythingBought" class="emptyMessage">Everything is bought!</div>
            <!-- End: To Buy List -->
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------------------------------------------- -->
            <!-- Begin: Already Bought List -->
            <div ng-controller="boughtController as toSold">
                <h2>Already Bought:</h2>
                <!-- ----------------------------------------------------------------------------------------------------------------------- -->
                <ul>
                    <li ng-repeat="items in toSold.getSoldList">{{ items.name }}  {{items.quantity}}</li>
                </ul>
                <!-- ----------------------------------------------------------------------------------------------------------------------- -->
                <div id="nothingBought" class="emptyMessage">Nothing bought yet.</div>
            </div>
            <!-- End: Already Bought List -->
        </div>
    </body>
</html>